@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore|Josefin+Sans:400,600,700|Josefin+Slab:400,700);
/* line 4, ../scss/_headings.scss */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 4, ../scss/_headings.scss */
  h1 {
    text-align: left;
  }
}
/* line 17, ../scss/_headings.scss */
h1.menu {
  font-family: "Josefin Slab", serif;
  text-align: left;
  color: #666;
  line-height: .5em;
}

/* line 25, ../scss/_headings.scss */
h2 {
  font-family: "La Belle Aurore", cursive;
  color: #ffae00;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 25, ../scss/_headings.scss */
  h2 {
    text-align: left;
  }
}
/* line 35, ../scss/_headings.scss */
h2.menu {
  color: #666;
  text-align: left;
  line-height: .1em;
}

/* line 44, ../scss/_headings.scss */
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  color: #ffae00;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 0;
}

/* line 60, ../scss/_headings.scss */
h4 {
  color: #d9d9d9;
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-weight: 400;
}

/* line 67, ../scss/_headings.scss */
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #d9d9d9;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 67, ../scss/_headings.scss */
  h5 {
    text-align: left;
  }
}
/* line 78, ../scss/_headings.scss */
h5.menu {
  font-family: "Josefin Slab", serif;
  color: #666;
  font-weight: 400;
  text-align: left;
}

/* line 88, ../scss/_headings.scss */
.light {
  color: #d9d9d9;
}

/* line 93, ../scss/_headings.scss */
p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #d9d9d9;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  /* line 93, ../scss/_headings.scss */
  p {
    text-align: left;
  }
}
/* line 104, ../scss/_headings.scss */
p.menu {
  text-align: left;
  color: #666;
}
/* line 108, ../scss/_headings.scss */
p.quote {
  font-family: "Josefin Slab", serif;
  font-size: 1.2em;
}
/* line 112, ../scss/_headings.scss */
p.cite {
  text-align: right;
  font-family: "La Belle Aurore", cursive;
}

/* line 118, ../scss/_headings.scss */
a.content-anchor {
  text-decoration: none;
}

/* line 122, ../scss/_headings.scss */
a h3 {
  -webkit-transition: all 0.2s ease-in-out 0;
  -moz-transition: all 0.2s ease-in-out 0;
  -o-transition: all 0.2s ease-in-out 0;
  -ms-transition: all 0.2s ease-in-out 0;
  transition: all 0.2s ease-in-out 0;
}
/* line 125, ../scss/_headings.scss */
a h3:hover {
  color: #d9d9d9;
  letter-spacing: 0.5em;
  border-color: #d9d9d9;
}

@media screen and (min-width: 480px) {
  /* line 132, ../scss/_headings.scss */
  h3.welcome {
    font-size: 1em;
  }
}

/* line 4, ../scss/_layout.scss */
body {
  background: url("../assets/escheresque_ste.png") repeat;
}

/* line 9, ../scss/_layout.scss */
#tab_nav {
  width: 100%;
}

/* line 13, ../scss/_layout.scss */
.top_tab {
  margin-top: -0.15em;
}

/* line 17, ../scss/_layout.scss */
.tab_divider {
  margin-top: 1em;
}

/* line 21, ../scss/_layout.scss */
.center_tab {
  border: 0.2em solid #ffae00;
  border-top: none;
  z-index: 10;
  padding: none;
  margin: none;
  box-shadow: 0em 0.5em 0.5em #222;
  background: url("../assets/escheresque_ste.png") repeat;
}
/* line 30, ../scss/_layout.scss */
.center_tab.menu {
  background: url("../assets/escheresque_ste.png") repeat;
  border-radius: 0em 0em .5em .5em;
  z-index: 5;
}

/* line 40, ../scss/_layout.scss */
.inverted_tab {
  border: 0.2em solid #ffae00;
  border-bottom: none;
  z-index: 10;
  padding: none;
  margin: none;
  box-shadow: 0em -0.5em 0.5em #222222;
  min-height: 3em;
  background: url("../assets/escheresque_ste.png") repeat;
  margin-bottom: -0.15;
}

/* line 54, ../scss/_layout.scss */
.tab_border {
  border-top: 0.2em solid #ffae00;
  box-shadow: 0em 0.5em 0.5em #222;
  padding-top: 0;
}

/* line 59, ../scss/_layout.scss */
.border_bottom {
  border-bottom: 0.2em solid #ffae00;
  padding-top: 0;
  min-height: 3em;
}

/* line 66, ../scss/_layout.scss */
.paper {
  background: url("../assets/creampaper.png") repeat;
}

/* line 71, ../scss/_layout.scss */
div.submenu {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 77, ../scss/_layout.scss */
.submenu {
  display: none;
}

/* line 82, ../scss/_layout.scss */
.content-section {
  display: none;
}

/* line 88, ../scss/_layout.scss */
div.borderquote {
  border-left: 0.2em solid #ffae00;
  border-right: 0.2em solid #ffae00;
  margin-bottom: 3em;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  /* line 98, ../scss/_layout.scss */
  .onPaper {
    background: url("../assets/creampaper.png") repeat;
    color: #666666;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  /* line 105, ../scss/_layout.scss */
  #home {
    display: block;
  }
}

/* line 4, ../scss/_nav.scss */
header {
  padding-bottom: 2em;
}

/* line 10, ../scss/_nav.scss */
.logo_container {
  padding-top: 3em;
}

/* line 17, ../scss/_nav.scss */
.header_logo {
  width: 100%;
  height: 100%;
}

/* line 24, ../scss/_nav.scss */
#tab_nav {
  display: none;
  margin: auto;
}
@media screen and (min-width: 992px) {
  /* line 24, ../scss/_nav.scss */
  #tab_nav {
    display: inline-block;
    float: left;
  }
}

/* line 34, ../scss/_nav.scss */
.desktop-anchor {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out 0;
  -moz-transition: all 0.5s ease-in-out 0;
  -o-transition: all 0.5s ease-in-out 0;
  -ms-transition: all 0.5s ease-in-out 0;
  transition: all 0.5s ease-in-out 0;
}
/* line 37, ../scss/_nav.scss */
.desktop-anchor:hover {
  color: #d9d9d9;
  text-decoration: none;
}

/* line 47, ../scss/_nav.scss */
a {
  color: inherit;
  text-transform: uppercase;
}

/* line 52, ../scss/_nav.scss */
.nav_item {
  text-align: center;
  padding: 1em;
  font-family: "Josefin Sans", sans-serif;
  color: #ffae00;
}

/* line 1, ../scss/_home.scss */
.welcome {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 1, ../scss/_home.scss */
  .welcome {
    display: block;
  }
}

/* line 9, ../scss/_home.scss */
#contacthours {
  text-align: center;
}
