@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore|Josefin+Sans:400,600,700|Josefin+Slab:400,700);
/* line 4, ../scss/_headings.scss */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 4, ../scss/_headings.scss */
  h1 {
    text-align: left;
  }
}
/* line 16, ../scss/_headings.scss */
h1.menu {
  font-family: "Josefin Slab", serif;
  text-align: left;
  color: #666;
  line-height: .5em;
}

/* line 24, ../scss/_headings.scss */
h2 {
  font-family: "La Belle Aurore", cursive;
  color: #ffae00;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 24, ../scss/_headings.scss */
  h2 {
    text-align: left;
  }
}
/* line 34, ../scss/_headings.scss */
h2.menu {
  color: #666;
  text-align: left;
  line-height: .1em;
}

/* line 43, ../scss/_headings.scss */
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  color: #ffae00;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 0;
}

/* line 59, ../scss/_headings.scss */
h4 {
  color: #d9d9d9;
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-weight: 400;
}

/* line 66, ../scss/_headings.scss */
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #d9d9d9;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 66, ../scss/_headings.scss */
  h5 {
    text-align: left;
  }
}
/* line 77, ../scss/_headings.scss */
h5.menu {
  font-family: "Josefin Slab", serif;
  color: #666;
  font-weight: 400;
  text-align: left;
}

/* line 87, ../scss/_headings.scss */
.light {
  color: #d9d9d9;
}

/* line 91, ../scss/_headings.scss */
p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #d9d9d9;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  /* line 91, ../scss/_headings.scss */
  p {
    text-align: left;
  }
}
/* line 102, ../scss/_headings.scss */
p.menu {
  text-align: left;
  color: #666;
}
/* line 106, ../scss/_headings.scss */
p.quote {
  font-family: "Josefin Slab", serif;
  font-size: 1.2em;
}
/* line 110, ../scss/_headings.scss */
p.cite {
  text-align: right;
  font-family: "La Belle Aurore", cursive;
}

/* line 116, ../scss/_headings.scss */
a.content-anchor {
  text-decoration: none;
}

/* line 4, ../scss/_layout.scss */
body {
  background: url("../assets/escheresque_ste.png") repeat;
}

/* line 9, ../scss/_layout.scss */
.tab_divider {
  margin-top: 2em;
}

/* line 13, ../scss/_layout.scss */
.center_tab {
  border: 0.2em solid #ffae00;
  border-top: none;
  z-index: 10;
  padding: none;
  margin: none;
  box-shadow: 0em 0.5em 0.5em #222;
}
/* line 21, ../scss/_layout.scss */
.center_tab.menu {
  background: url("../assets/escheresque_ste.png") repeat;
  border-radius: 0em 0em .5em .5em;
  z-index: 5;
}

/* line 28, ../scss/_layout.scss */
.tab_border {
  border-top: 0.2em solid #ffae00;
  box-shadow: 0em 0.5em 0.5em #222;
  padding-top: 0;
}

/* line 33, ../scss/_layout.scss */
.paper {
  background: url("../assets/creampaper.png") repeat;
}

/* line 36, ../scss/_layout.scss */
div.submenu {
  max-height: 500px;
  overflow: scroll;
}

/* line 41, ../scss/_layout.scss */
.submenu {
  display: none;
}

/* line 46, ../scss/_layout.scss */
.content-section {
  display: none;
}

/* line 52, ../scss/_layout.scss */
div.borderquote {
  border-left: 0.2em solid #ffae00;
  border-right: 0.2em solid #ffae00;
  margin-bottom: 3em;
}

/* line 58, ../scss/_layout.scss */
a h3 {
  -webkit-transition: all 2s ease-in-out 0;
  -moz-transition: all 2s ease-in-out 0;
  -o-transition: all 2s ease-in-out 0;
  -ms-transition: all 2s ease-in-out 0;
  transition: all 2s ease-in-out 0;
}
/* line 61, ../scss/_layout.scss */
a h3:hover {
  color: #d9d9d9;
  letter-spacing: 0.5em;
  border-color: #d9d9d9;
}

/* line 9, ../scss/_nav.scss */
.logo_container {
  padding-top: 3em;
  background: url("../assets/escheresque_ste.png") repeat;
}

/* line 14, ../scss/_nav.scss */
.header_logo {
  width: 100%;
  height: 100%;
}

/* line 21, ../scss/_nav.scss */
#tab_nav {
  display: none;
  margin: auto;
}
@media screen and (min-width: 992px) {
  /* line 21, ../scss/_nav.scss */
  #tab_nav {
    display: inline-block;
    float: left;
  }
}

/* line 33, ../scss/_nav.scss */
a {
  color: inherit;
  text-transform: uppercase;
}

/* line 38, ../scss/_nav.scss */
.nav_item {
  text-align: center;
  padding: 1em;
  font-family: "Josefin Sans", sans-serif;
  color: #ffae00;
}

/* line 1, ../scss/_home.scss */
.welcome {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 1, ../scss/_home.scss */
  .welcome {
    display: block;
  }
}

/* line 9, ../scss/_home.scss */
#contacthours {
  text-align: center;
}
