


h1 {
	font-family: $sans;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
	text-align: center;

	@include respond($tablet) {
		text-align: left;
	}

	&.menu {
		font-family:$slab;
		text-align: left;
		color:#666;
		line-height: .5em;
	}
}

h2 {
	font-family: $belle;
	color: $rabbit;
	font-size: 1.5em;
	text-align: center;

	@include respond($tablet){
		text-align: left;
	}

	&.menu {
		color: #666;
		text-align: left;
		line-height: .1em;
	}

}


h3{
	font-family: $sans;
	font-size: 1.2em;
	color: $rabbit;
	text-transform: uppercase;
	text-decoration:none;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-align: center;
	margin-top: 0;
	


}


h4 {
	color: $ash;
	font-family: $slab;
	text-align: center;
	font-weight:400;

}
h5 {
	font-family: $sans;
	font-size: 1.2em;
	font-weight: 600;
	color: $ash;
	text-align: center;

	@include respond($tablet){
		text-align: left;
	}

	&.menu {
		font-family:$slab;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	
}

.light {
	color: $ash;
}

p {
	font-family: $sans;
	font-weight: 400;
	text-align:center;
	color: $ash;
	font-size: 1em;

	@include respond($tablet) {
		text-align: left;
	}

	&.menu {
		text-align: left;
		color: #666;
	}
	&.quote {
		font-family: $slab;
		font-size: 1.2em;
	}
	&.cite {
		text-align: right;
		font-family: $belle;
	}
}

a.content-anchor {
	text-decoration: none;
}

