$cell: 480px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

$rabbit: #ffae00;
$ash: #d9d9d9;

$sans: 'Josefin Sans', sans-serif;
$belle: 'La Belle Aurore', cursive;
$slab: 'Josefin Slab', serif;

$escher: url('../assets/escheresque_ste.png') repeat; 